<div>
    <h2>Découvrez les prochains évènements</h2>
    <a routerLink="/pages/events/create-event">Ajouter un évènement</a>
    <div *ngFor="let event of listEvents">
        <h3>{{event.name}}</h3>
        <p>
            {{event.description}}
        </p>
        <p>
            {{event.startDate | date : "dd-MM-YYYY"}}
        </p>
        <button (click)="sendEvent(event)" routerLink="/pages/events/show-event/{{event.id}}">plus de détails</button>
    </div>
</div>
<app-show-event [displayedEvent]="eventToShow"></app-show-event>