<div class="">
    <h3>Bienvenue !</h3>
    <p>
        Tu cherches à échanger avec des développeurs et développeuses
    </p>
    <p>
        Tu es à la recherche d'un emploi dans le développement Web en Belgique
    </p>
    <p>
        Tu recherches une conférence ou une formation autour d'un sujet particulier ?
    </p>
    <p>
        Tu recherches un Hackathon ou un nouveau challenge ?
    </p>
    <h2>Alors DevEnt est fait pour toi !</h2>
    <div>
        <div>
            <h4>Les évènements</h4>
            <p>
                Découvrez tous les évènements qui auront lieu prochainement et inscrivez-vous !
            </p>
            <button class="btn" routerLink="/pages/events">Voir tous les évènements</button>
        </div>
        <div>
            <h4>Gestion des évènements</h4>
            <p>
                Vous souhaitez créer un évènement, gérer vos évènements et vos participations ?
            </p>
            <button class="btn">Gérer mes évènements</button>
        </div>
    </div>
</div>
<div>
    <img src="/assets/images/lady.PNG" alt="entity posting files on a board" />
</div>