<div class="nav">
    <div>
        <h1>DevEnt </h1>
    </div>
    <div>
        <button routerLink="/" class="btn"> Accueil </button>
        <button routerLink="/pages/events" class="btn"> Les évènements </button>
        <span *ngIf="verifyIfConnected()">{{displayUser()}}</span>
        <button *ngIf="!verifyIfConnected()" routerLink="/pages/login" class="btn"> Se connecter </button>
        <button *ngIf="verifyIfConnected()" (click)="logout()" class="btn"> Se déconnecter </button>
    </div>
</div>