<div class="nav">
    <div>
        <img src="/assets/images/devent.png" width="50%"/>
    </div>
    <div>
        <span *ngIf="verifyIfConnected()">Bienvenue {{ displayUser() }}!   </span>
        <p-button routerLink="/" label="Accueil"></p-button>
        <p-button routerLink="pages/events" label="Les évènements"></p-button>
        <p-button *ngIf="!verifyIfConnected()" routerLink="/pages/login" label="Se connecter"></p-button>
        <p-button *ngIf="verifyIfConnected()" (click)="logout()" label="Se déconnecter"></p-button>
    </div>
</div>
