<div class="full-screen">
    <div *ngIf="event" class="bg-gray-100 p-4 rounded-md shadow-md text-center">
      <div class="text-right" *ngIf="event.creatorId === idUser">
        <p-button (click)="deleteEvent()" label="Annuler l'évènement" />
        <p-button routerLink="/pages/events/update-event/{{event.id}}" label="Modifier l'évènement" />
      </div>
      <h3 class="text-blue-500">{{event.name}}</h3>
      <p>{{event.description}}</p>
      <p>
        <span class="text-blue-500">Début de l'évènement</span><br />
        {{event.startDate | date : "dd-MM-YYYY"}}<br />
        <span class="text-blue-500">Fin de l'évènement</span><br />
        {{event.endDate | date : "dd-MM-YYYY"}}
      </p>
    </div>
</div>
  