@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


body {
    padding-right: 28%;
    padding-left: 2%;
    font-size: 27px;
    height: 100%;
}
.btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007acc;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s;
  }
  
  .btn:hover {
    background-color: #005ca5;
  }
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .nav div {
    display: flex;
    align-items: center;
  }
  
  .p-button {
    background-color: #007acc;
    color: #fff;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s; 
  }
  

  .p-button:hover {
    background-color: #005ca5; 
  }

  .p-calendar {
    margin-left: 20px;
  }